.landing {
  padding: 50px 0 100px;
  background: #200122;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  .movies {
    .single {
      // padding: 0 0 20px;
      img {
        border-radius: 5px;
        width: 100%;
        max-width: 250px;
        height: 400px;
        object-fit: cover;
        object-position: center;
        padding: 0 0 15px;
      }
      .info {
        padding: 15px 0;
        h4 {
          font-size: 16px;
          font-family: Lato;
          font-weight: 700;
        }
        p {
          padding: 0;
          margin: 0;
          color: #fff;
          font-weight: 500;
          font-size: 12px;
          text-transform: initial;
          span {
            color: rgb(153, 153, 153);
            font-weight: 400;
            font-size: 12px;
            text-transform: initial;
          }
          &.rating {
            font-weight: 500;
            color: rgb(255, 217, 0);
          }
        }
        }
        h4 {
          padding: 0;
          margin: 0;
          text-transform: initial;
      }
    }
  }
  .logo {
    padding: 40px 0 70px;
  }
  h4 {
    color: #fff;
    font-family: Lato;
    font-weight: 700;
    font-size: 18px;
    padding: 0;
    margin: 0;
    text-transform: initial;
  }
}

@media (min-width: 375px) and (max-width: 767.98px){
  .landing {
    .movies {
      .single {
        margin: 0 0 30px;
        img {
          max-width: 300px;
          height: 250px;
        }
      }
    }
    .logo {
      padding: 20px 0 70px;
    }
  }
}