<section class="landing">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="logo">
          <img src="https://shugaban.com/assets/images/shulogo-hover.png" alt="">
        </div>
      </div>
      <div class="col-12 text-left pb-3">
        <h4>New Releases</h4>
      </div>
      <div class="col-12">
        <div class="row movies">
          <div class="col-6 col-md-3 single">
            <img src="https://shugaban.com/assets/images/movie/portrait/medium/img-VJl6-1544006278-umu3oC.jpg" alt="">
            <span class="info">
              <h4>Liars & Pretenders</h4>
              <div class="row">
                <div class="col-10 text-left">
                  <p>Thriller  <span>1hr 30mins</span></p>
                </div>
                <div class="col-2 float-right text-right">
                  <p class="rating">18+</p>
                </div>
              </div>
            </span>
          </div>
          <div class="col-6 col-md-3 single">
            <img src="https://shugaban.com/assets/images/movie/portrait/medium/img-syRB-1579699708-rp4nDu.jpg" alt="">
            <span class="info">
              <h4>The Itch</h4>
              <div class="row">
                <div class="col-10 text-left">
                  <p>Drama  <span>1hr 43mins</span></p>
                </div>
                <div class="col-2 float-right text-right">
                  <p class="rating">R</p>
                </div>
              </div>
            </span>
          </div>
          <div class="col-6 col-md-3 single">
            <img src="https://shugaban.com/assets/images/movie/portrait/medium/img-h4Ct-1550235965-dIwbbL.jpg" alt="">
            <span class="info">
              <h4>Seven Majors</h4>
              <div class="row">
                <div class="col-10 text-left">
                  <p>Action  <span>1hr 21mins</span></p>
                </div>
                <div class="col-2 float-right text-right">
                  <p class="rating">PG</p>
                </div>
              </div>
            </span>
          </div>
          <div class="col-6 col-md-3 single">
            <img src="https://shugaban.com/assets/images/movie/portrait/medium/img-z5SV-1528469244-rsLhWY.jpg" alt="">
            <span class="info">
              <h4>Sunday 'N' Lolade</h4>
              <div class="row">
                <div class="col-10 text-left">
                  <p>Drama  <span>1hr 52mins</span></p>
                </div>
                <div class="col-2 float-right text-right">
                  <p class="rating">R</p>
                </div>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<router-outlet></router-outlet>